boto3==1.43.17
botocore==1.43.17
grpcio==1.80.0
grpcio-tools==1.80.0
jmespath==1.1.0
protobuf==6.33.6
python-dateutil==2.9.0.post0
s3transfer==0.18.0
setuptools==82.0.1
six==1.17.0
typing_extensions==4.15.0
urllib3==2.7.0
